body {
    background-color: #1c1c1c;
    margin: 0;
}

.main{
    background-image: url('valoimgs/d0db663bf28844dcbd744935cdd8c71083e0031c-5600x3150.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


.bgim {
    color: white;
}

.bgim h1 {
    color: red;
    font-size: 60px;
}

.button {
    background-color: red;
    padding: 20px;
    border-radius: 60px;
    text-decoration: none;
    box-shadow: 0px 0px 10px rgba(0,0,1,1);
    color: black;
}

.button:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 10px rgb(9, 169, 222);
    padding: 25px;
    
}

/*login*/  


  
/*login*/

.logo {
   border-radius: 60px;
   margin-right: 905px;
   display: inline;
    
}

navs ul {
    margin: 30px;
    float: right ;
    display: inline;

}

.navs {
    margin: 30px;
    display: inline;
    text-decoration: none;
    color: white;
}

.navs:hover {
    text-decoration: none;
    color: red;
}

.navig {
    position: sticky;
    top: 0%;
    display: flex;
}

.homeimg {
  margin: 0%;
}

.navopt{
    background-image: url('valoimgs/valorant-offwhitelaunch-keyart.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.agentshp {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 400px;
    text-decoration: none;
    font-size: 50px;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,1,1);
    background-color: red;
    color: black;
    margin-top: 1000px;
    margin-bottom:100px;
}

.agentshp:hover {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 400px;
    text-decoration: none;
    font-size: 50px;
    padding: 65px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,1,1);
    background-color: white;
    color: black;
     -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2); 
}

            



























